In [28]:
from scipy.spatial import distance_matrix
import numpy as np
import pandas as pd
np.set_printoptions(precision=2)
x = np.array([[0.4,0.53],
              [0.22,0.38],
              [0.35,0.32],
              [0.26,0.19],
              [0.08,0.41],
              [0.45,0.3]])
z= np.tril(np.ones([6,6]),-1)
op = distance_matrix(x,x) *z
df = pd.DataFrame(op,index=['P1','P2','P3','P4','P5','P6'],columns=['P1','P2','P3','P4','P5','P6'])
df

          P1        P2        P3        P4        P5   P6
P1  0.000000  0.000000  0.000000  0.000000  0.000000  0.0
P2  0.234307  0.000000  0.000000  0.000000  0.000000  0.0
P3  0.215870  0.143178  0.000000  0.000000  0.000000  0.0
P4  0.367696  0.194165  0.158114  0.000000  0.000000  0.0
P5  0.341760  0.143178  0.284605  0.284253  0.000000  0.0
P6  0.235372  0.243516  0.101980  0.219545  0.386005  0.0

     P1   P2   P3   P4   P5   P6
P1  1.0  1.0  1.0  1.0  1.0  1.0
P2  3.0  1.0  1.0  1.0  1.0  1.0
P3  2.0  3.0  1.0  1.0  1.0  1.0
P4  6.0  5.0  5.0  1.0  1.0  1.0
P5  5.0  4.0  6.0  6.0  1.0  1.0
P6  4.0  6.0  4.0  5.0  6.0  1.0

In [24]:
np.amin(op)

0.0